// Variables
@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

//components
@import "components/page-title";
@import "components/container";
@import "components/todo";

*{
  outline: none;
}
